{% block jqgrid_container %}
{% spaceless %}
<div id="jqgrid">
    <table class="eps_jqgrid" id="jqgrid_name"></table>
    <div id="pager_jqgrid_name"></div>
</div>
{{ block("jqgrid_j") }}
{% endspaceless %}
{% endblock jqgrid_container %}

{% block jqgrid_j %}
 <script type="text/javascript">
    $(document).ready(function() {
        jQuery("#jqgrid_name").jqGrid({
            url: "{{ path( 'imprint_erp_offer_list' ) }}",
            colNames:[],
            colModel:[],
            pager: '#pager_jqgrid_name'
        });
        
        /**
        var $configs = $.extend({
                minDate: new Date(2007, 0, 1),
                maxDate: new Date(2017, 11, 31)
            }, $.datepicker.regional['{{ grid.culture }}'], {
                "dateFormat": "{{  grid.datepickerformat }}",
                closeText: 'X',
                showButtonPanel: true,
                changeYear: true,
                changeMonth: true,
                onSelect: function(dateText, inst) {
                        var $tmpid = $(this).closest('.ui-jqgrid-view').attr('id');
                        var $gridid = $tmpid.substring(6);
                        $('#'+$gridid)[0].triggerToolbar();
                }
        });

        datePick = function(elem)
        {
            jQuery(elem).datepicker($configs);
        }


        jQuery("#{{ grid.name|raw }}").jqGrid({
            url: '{{ grid.getrouteurl }}',
            {% if grid.hideifempty %}
            gridComplete: function() {
                var recs = parseInt($("#{{ grid.name|raw }}").getGridParam("records"),10);
                if (recs == 0) {
                    $("#{{ grid.name|raw }}_wrapper").hide();
                }
                else {
                    $('#{{ grid.name|raw }}_wrapper').show();
                }
            },
            {% endif %}
            colNames:[{{ grid.columnsnames|raw }}],
            colModel:[
                {{ grid.columnscolmodel|raw }}
            ],
            {{  grid.options|raw }}
            {% if grid.caption != '' %}caption:"{{ grid.caption }}", {% endif %}
            pager: '#pager_{{ grid.name|raw }}'
        });

        jQuery("#{{ grid.name|raw }}").jqGrid('navGrid','#pager_{{ grid.name|raw }}',{ {{ grid.navoptions|raw }} });
        jQuery("#{{ grid.name|raw }}").navGrid("#pager_{{ grid.name|raw }}").navSeparatorAdd("#pager_{{ grid.name|raw }}", {sepclass : "ui-separator",sepcontent: ''}).navButtonAdd("#pager_{{grid.name|raw}}",{id : "resetSearch_{{grid.name|raw}}" ,caption:"", buttonicon:"ui-icon-home", onClickButton:null, position: "last", title:"Réinitialiser les filtres", cursor: "pointer"});

        jQuery("#{{ grid.name|raw}}").jqGrid('filterToolbar',{stringResult:true, searchOnEnter:true, defaultSearch:"cn"});

        $("#resetSearch_{{ grid.name|raw }}").click(function() {
            jQuery("#{{ grid.name|raw }}")[0].clearToolbar();
        });

        $("#{{ grid.name|raw}}").setGridWidth($("#{{grid.name|raw}}_wrapper").width());
        **/
    });

    /**
    $(window).bind('resize', function() {
        $("#{{ grid.name|raw}}").setGridWidth($("#{{grid.name|raw}}_wrapper").width());
    }).trigger('resize');
    **/
</script>
{% endblock jqgrid_j %}


{% block jqgrid %}
    {{ block("jqgrid_h") }}
    {{ block("jqgrid_j") }}
{% endblock jqgrid %}    
